* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body {
  font-family: 'Poppins', sans-serif;
} */

                              /* HomeLanding.js */
.landingContainer {
  position: relative;
  text-align: center;
}

.landingText {  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* https://www.w3schools.com/howto/howto_css_image_text.asp */
}
 
.landingImage {
  width: 100%;
  min-height: 100vh;
  
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
                    url("https://images.unsplash.com/photo-1580802841960-bb47baa91eac?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=717&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 768px) {
  .landingContainer {
    display: flex;    
  }

  .landingText {
    width: 50%;
    min-height: 100vh;
    position: static;
    transform: none; 
    display: flex;
    flex-direction: column;
    justify-content: center;   
  }

  .landingImage {
    width: 50%;
  }
}

                            /* HomeAbout.js */
.container {
  padding: 4rem;
  background-color: rgb(241, 240, 240);
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.container p {
  min-width: 35ch;
  max-width: 75ch;
                      /* fix this if incorrect ^ */
  margin: 2rem 0;
  line-height: 1.6;
}

button {
  padding: 1em;
}