@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --NavBarHeight: 4rem;
}

body {
  font-family: 'Libre Franklin', sans-serif;
}   
h1 {
  font-family: 'Poppins', sans-serif;
}                           

                              /* HomeLanding.js */
.landingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                    url("https://images.pexels.com/photos/2079438/pexels-photo-2079438.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* parallax scrolling effect: */
  background-attachment: fixed;
  
  width: 100%;
  min-height: var(--vh100);
  padding: 1rem;
  color: white;
  text-align: center; 
  overflow-wrap: anywhere; 
}
.landingContainer h1 {
  font-size: clamp(2.2rem, 2.0058rem + 1.2427vw, 3rem);
    /* https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/#for-those-who-dont-mind-that-edge-case */
  font-weight: 600;
  margin: 1em 0 .5em;
}
.landingContainer h2 {
  font-size: clamp(1rem, 0.9892rem + 0.0693vw, 1.1rem);
  font-weight: 300;
  width: 85%;
  max-width: 45ch;
  line-height: 1.6;
}

                            /* HomeAbout.js */
.container {
  padding: 3em;
  background-color: rgb(231, 231, 231);
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
}

.container p {
  width: 100%;
  max-width: 65ch;
  margin: 2em 0;
  line-height: 1.6;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

button {
  padding: 1em;
}

                              /* ___.js */


                              /* Font-size */
@media screen and (min-width: 1400px) {
  html {
    font-size: 18px; 
  }
}

@media screen and (min-width: 2000px) {    
  html {
    font-size: 22px;
  }
}