/* Variables */
:root {
  --landingTransitionTime: 0.7s;  
  --mobileNavBackgroundColor: rgb(240, 240, 240);  
}

.landingNavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: var(--NavBarHeight);
  background-color: transparent;
  position: fixed;
  width: 100%;
  /* Fade out transition: */
  transition: background-color var(--landingTransitionTime), border-style var(--landingTransitionTime);
}                          

                          /* to change on burger click */
.landingBurgerClicked {
  /* !important so that landingNavScrolled doesn't override the following  */
  border-style: none !important;
  background-color: var(--mobileNavBackgroundColor) !important;
  transition: background-color var(--landingTransitionTime), border-style var(--landingTransitionTime) !important;
}
.landingBurgerClicked .landingLogo {
  color: var(--Beige);
  transition: color var(--landingTransitionTime) !important;
}
.landingBurgerClicked .landingBurger div {
  background-color: grey;
}
.landingBurgerClicked .landingNavLinks{
  /* https://stackoverflow.com/questions/37310037/fade-in-and-fade-out-overlay-by-toggling-a-hamburger-menu */
  visibility: visible;
  opacity: 1;
  transition: opacity var(--landingTransitionTime);
}
.landingBurgerClicked .landingNavLinks li {
  opacity: 1;
  transform: translate(0px, 0px);
  transition: transform var(--landingTransitionTime);
}
                                /* until here */

                            /* To change on scroll: */
.landingNavScrolled {
  background-color: white;
  border: 3px solid var(--Beige);
  transition: background-color 0.2s, border 0.2s;
}
.landingNavScrolled .landingLogo {
  color: var(--Beige);
  transition: color 0.2s;
}
.landingNavScrolled .landingBurger div {
  background-color: grey;
}
@media screen and (min-width: 768px) {
  .landingNavScrolled .landingNavLinks a {
    color: grey;
  }
  .landingNavScrolled .landingNavLinks a:hover {
    color: var(--Beige);
  }
}
                                /* until here */

.landingNavLinks {
  display: flex;
  position: absolute;
  left: 0px;
  height: calc( var(--vh100) - (var(--NavBarHeight)) );
  top: var(--NavBarHeight);
  background-color: var(--mobileNavBackgroundColor);      
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;  
  opacity: 0; 
  visibility: hidden;  
  transition: opacity var(--landingTransitionTime), visibility 0s var(--landingTransitionTime), background-color var(--landingTransitionTime);
}
.landingNavLinks li {
  list-style: none;
  opacity: 0;
  transform: translate(-10px, -10px);
  transition: opacity var(--landingTransitionTime), transform var(--landingTransitionTime);
}
.landingNavLinks a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.3rem;
  color: rgb(90, 90, 90);
  transition: color 0.2s;
}
.landingNavLinks a:hover {
  color: var(--Beige);
}

.landingBurger {
  display: block;
  position: absolute;
  left: 15px;    
}
.landingBurger div {
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 5px;  
  transition: all 0.3s ease;
}


.landingToggle .landingLine1 {
  transform: rotate(-45deg) translate(-5px,5px);
}
.landingToggle .landingLine2 {
  opacity: 0;
}
.landingToggle .landingLine3  {
  transform: rotate(45deg) translate(-5px,-5px);
}

.landingLogo {
  color: white;
  transition: color var(--landingTransitionTime);
}

@media screen and (min-width: 768px) {  
  .landingLogo {
    width: 40%;
  }
  
  .landingNavLinks {    
    width: 40%;
        
    position: initial;
    left: initial;
    height: initial;
    top: initial;
    background-color: initial;
    flex-direction: initial;
    align-items: initial;
    opacity: initial; 
    visibility: initial;
    transition: initial;      
  }
  .landingNavLinks li {
    opacity: initial;
    transform: initial;
  }  
  .landingNavLinks a {
    color: white;
    font-size: 1rem;
  }  
  .landingBurger {
    display: none;
  }
  .landingBurger div {
    background-color: white;
  }
}

@media screen and (min-width: 1024px){
  .landingNavLinks {
    width: 30%;
  }
}