/* Variables */
:root {
  --transitionTime: 0.7s;  
  --mobileNavBackgroundColor: rgb(240, 240, 240);
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: var(--NavBarHeight);
  background-color: white;
  position: fixed;
  z-index: 100;
  width: 100%;
  border: 3px solid var(--Beige);
}                                

                        /* To change on burger click */
.burgerClicked {
  border-style: none !important;
  background-color: var(--mobileNavBackgroundColor) !important;
  transition: background-color var(--transitionTime), border-style var(--transitionTime);
}
.burgerClicked .logo {
  color: var(--Beige) !important;
}
.burgerClicked .burger div {
  background-color: grey !important;
}
.burgerClicked .navLinks{
  /* https://stackoverflow.com/questions/37310037/fade-in-and-fade-out-overlay-by-toggling-a-hamburger-menu */
  visibility: visible;
  opacity: 1;
  transition: opacity var(--transitionTime);
}
.burgerClicked .navLinks li {
  opacity: 1;
  transform: translate(0px, 0px);
  transition: transform var(--transitionTime);
}
                                /* until here */

.navLinks {
  display: flex;
  position: absolute;
  left: 0px;
  height: calc( var(--vh100) - (var(--NavBarHeight)) );
  top: var(--NavBarHeight);
  background-color: var(--mobileNavBackgroundColor);      
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;  
  opacity: 0;
  visibility: hidden;  
  transition: opacity var(--transitionTime), visibility 0s var(--transitionTime), background-color var(--transitionTime);
}
.navLinks li {
  list-style: none;
  opacity: 0;
  transform: translate(-10px, -10px);
  transition: opacity var(--transitionTime), transform var(--transitionTime);
}
.navLinks a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.3rem;
  color: rgb(90, 90, 90);
  transition: color 0.2s;
}
.navLinks a:hover {
  color: var(--Beige);
}
.currentPage {
  color: var(--Beige) !important;
}

.burger {
  display: block;
  position: absolute;
  left: 15px;    
}
.burger div {
  width: 25px;
  height: 2px;
  background-color: grey;
  margin: 5px;  
  transition: all 0.3s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3  {
  transform: rotate(45deg) translate(-5px,-5px);
}

.logo {
  color: var(--Beige);
}

@media screen and (min-width: 768px){  
  .logo {
    width: 40%;
  }
  
  .navLinks {    
    width: 40%;
        
    position: initial;
    left: initial;
    height: initial;
    top: initial;
    background-color: initial;
    flex-direction: initial;
    align-items: initial;
    opacity: initial; 
    visibility: initial;
    transition: initial;
  }
  .navLinks li {
    opacity: initial;
    transform: initial;
  }  
  .navLinks a {
    color: grey;
    font-size: 1rem;
  }  
  .burger {
    display: none;
  }
  .burger div {
    background-color: white;
  }
}

@media screen and (min-width: 1024px){
  .navLinks {
    width: 30%;
  }
}


/* For landing page  */
.landingNav {
  background-color: transparent;
  border-style: none;
}
.landingNav .logo {
  color: white;
}
.landingNav .burger div {
  background-color: white;
}
@media screen and (min-width: 768px) {
  .landingNav .navLinks a {
    color: white;
  }
  .landingNav .navLinks a:hover {
    color: var(--Beige);
  }
} 

                    /* To change on scroll on landing page: */
.landingNavScrolled {
  background-color: white;
  border: 3px solid var(--Beige);
  transition: background-color 0.2s, border 0.1s;
}
.landingNavScrolled .logo {
  color: var(--Beige);
  transition: color 0.2s;
}
.landingNavScrolled .burger div {
  background-color: grey;
}
@media screen and (min-width: 768px) {
  .landingNavScrolled .navLinks a {
    color: grey;
  }
  .landingNavScrolled .navLinks a:hover {
    color: var(--Beige);
  }
}
/* until here */