/* Variables */
:root {
  --transitionTime: 0.4s;  
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: var(--NavBarHeight);
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  border: 3px solid var(--Beige);
}                        

                        /* to change on burger click */
.burgerClicked {
  border-style: none;
  background-color: white;
  transition: background-color var(--transitionTime), border var(--transitionTime);
}
.burgerClicked .landingLogo {
  color: var(--Beige);
  transition: color var(--transitionTime);
}
.burgerClicked .landingBurger div {
  background-color: grey;
}
                                /* until here */

.navLinks {
  display: flex;
  position: absolute;
  left: 0px;
  height: calc( var(--vh100) - (var(--NavBarHeight)) );
  top: var(--NavBarHeight);
  background-color: white;      
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;  
  opacity: 0;
  transition: opacity var(--transitionTime);
}
.navLinks li {
  list-style: none;
  opacity: 0;
}
.navLinks a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  color: grey;
  transition: color 0.2s;
}
.navLinks a:hover {
  color: var(--Beige);
}
.active {
  color: var(--Beige) !important;
}

.burger {
  display: block;
  position: absolute;
  left: 15px;    
}
.burger div {
  width: 25px;
  height: 2px;
  background-color: grey;
  margin: 5px;  
  transition: all 0.3s ease;
}

.navActive {
  opacity: 1;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3  {
  transform: rotate(45deg) translate(-5px,-5px);
}

.logo {
  color: var(--Beige);
}

@media screen and (min-width: 768px){  
  .logo {
    width: 40%;
  }
  
  .navLinks {    
    width: 40%;
        
    position: initial;
    left: initial;
    height: initial;
    top: initial;
    background-color: initial;
    flex-direction: initial;
    align-items: initial;
    transform: initial;
    transition: initial;
    z-index: initial;
  }
  .navLinks li {
    opacity: initial;
  }  
  .navLinks a {
    color: grey;
  }  
  .burger {
    display: none;
  }
  .burger div {
    background-color: white;
  }
}

@media screen and (min-width: 1024px){
  .navLinks {
    width: 30%;
  }
}